@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*, *::before, *::after { box-sizing: inherit; }

html {
	box-sizing: border-box;
}

* {
    font-family: 'Roboto', sans-serif;

    --darkbrown: #28251f;
    --brown: #5d504e;
    --orange: #bd6124;
    --darkgreen: #464b2a;
    --lightgrey: #d9dbdd;
    --offwhite: #F9FAF8;
}

body {
    margin: 0;
    background-color: var(--darkgreen);
}

.page-container {
    max-width: 107rem;

    margin: 0 auto;
}

/* header */

header {
    background-color: var(--darkbrown);

    position: fixed;
    width: 100%;

    display: flex;
    margin: 0;
    padding: 1rem 4rem;
    justify-content: space-between;
}

header h1 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--offwhite);

    flex: 1;
}

.header-links {
    display: flex;
    text-align: center;
}

.header-links h1 {
    font-size: 1.7rem;
    font-weight: 400;
    color: var(--lightgrey);

    min-width: 10rem;
}

.header-links #hyperlink-override {
    font-size: 1.7rem;
    font-weight: 400;
    color: var(--lightgrey);
    text-decoration: none;
}


/* section 1 */

section {
    background-color: var(--darkbrown);

    padding: 11rem 7rem 6rem;
    display: flex;
}

.hero div {
    font-size: 3rem;
    font-weight: bolder;
    color: var(--offwhite);

    margin-right: 2rem;
    flex: 1;

    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 1rem;
}

.hero h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.hero p {
    font-size: 1.5rem;
    font-weight: lighter;
    color: var(--lightgrey);
}

.hero img {
    margin-right: 10px;
    flex: 1;
    min-width: 50%;
    max-width: 70%;
    height: auto;

    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
}

/* section 2 */

.profiles-container {
    background-color: var(--offwhite); 
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--darkbrown);

    padding: 4.5rem;
    text-align: center;
}

.profiles-container h1 {
    margin-top: 0;
}

.profiles {
    color: var(--brown);
    font-weight: 400;
    font-size: 1.5rem;

    display: flex;
}

.profile {
    max-width: 25rem;
    margin: 0 3rem;
    margin-right: 0;
}

.profile:last-child {
    margin-right: 3rem;
}

.profile img {
    border: 0.4rem solid var(--darkgreen);
    border-radius: 2rem;
}

.profile p {
    margin-top: 0.7rem;
}

/* article */

article {
    background-color: var(--lightgrey);
    font-size: 3rem;
    font-weight: 300;
    font-style: italic;
    color: var(--darkbrown);

    margin-top: 0;
    margin-bottom: 0;

    padding: 4.5rem;
}

.quoter {
    font-weight: bold;
    font-style: normal;
    text-align: end;
}

.recruit-container {
    background-color: var(--offwhite);
    color: var(--offwhite);

    padding: 8rem 8rem;
}

.recruit1 {
    background-color: var(--orange);

    display: flex;
    align-items: center;
    padding: 2rem 2rem;
    border-radius: 0.8rem;
}

.recruit2 {
    flex: 2;
    margin-left: 7rem;
}

.recruit1 button {
    border: 0.3rem solid var(--offwhite);
    
    margin-right: 7rem;
}

button {
    font-size: 1.5rem;
    font-weight: 500;
    background-color: var(--orange);
    color: var(--offwhite);
    text-align: center;

    width: 10rem;
    height: 3rem;
    border-radius: 0.7rem;
}

footer {
    color: var(--offwhite);

    text-align: center;
    padding: 2rem 2rem;
}

img {
    width: 200px;
}