@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    background-color: #1F2937;
}

.page-container {
    max-width: 100rem;
    margin-left: auto;
    margin-right: auto;
}

/* header */

header {
    background-color: #1F2937;

    display: flex;
    margin: 0;
    padding: 1rem 4rem;
    justify-content: space-between;
}

header h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #F9FAF8;

    flex: 1;
}

.header-links {
    display: flex;
    text-align: center;
}

.header-links h1 {
    font-size: 1.7rem;
    font-weight: 400;
    color: #E5E7EB;

    min-width: 10rem;
}

/* section 1 */

.hero {
    background-color: #1F2937;

    padding: 8rem 4rem;
    display: flex;
}

.hero div {
    font-size: 3rem;
    font-weight: bolder;
    color: #F9FAF8;

    margin-right: 2rem;
    flex: 1;

    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 1rem;
}

.hero h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.hero p {
    font-size: 1.5rem;
    font-weight: lighter;
    color: #E5E7EB;
}

.hero img {
    margin-right: 10px;
    flex: 1;
    min-width: 50%;
    max-width: 70%;
    height: auto;

    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
}

/* section 2 */

.profiles-container {
    background-color: #F9FAF8; 
    font-size: 2.5rem;
    font-weight: bolder;
    color: #1F2937;

    padding: 4.5rem;
    text-align: center;
}

.profiles-container h1 {
    margin-top: 0;
}

.profiles {
    color:#505c6d;
    font-weight: 400;
    font-size: 1.5rem;

    display: flex;
}

.profile {
    max-width: 25rem;
    margin: 0 3rem;
    margin-right: 0;
}

.profile:last-child {
    margin-right: 3rem;
}

.profile img {
    border: 0.4rem solid #1F2937;
    border-radius: 2rem;
}

.profile p {
    margin-top: 0.7rem;
}

/* article */

article {
    background-color: #E5E7EB;
    font-size: 3rem;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;

    margin-top: 0;
    margin-bottom: 0;

    padding: 4.5rem;
}

.quoter {
    font-weight: bold;
    font-style: normal;
    text-align: end;
}

.recruit,
button {
    background-color: #3882F6;
}

img {
    width: 200px;
}


