@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    background-color: #1F2937;
}

.page-container {
    max-width: 100rem;
    margin-left: auto;
    margin-right: auto;
}

/* header */

header {
    background-color: #1F2937;
    color: #E5E7EB;

    display: flex;
    margin: 0;
    padding: 1rem 4rem;
    justify-content: space-between;
}

header h1 {
    font-size: 2rem;
    color: #F9FAF8;

    flex: 1;
}

.header-links {
    display: flex;
    text-align: center;
}

.header-links h1 {
    min-width: 10rem;
}

/* section 1 */

.hero {
    background-color: #1F2937;

    padding: 8rem 4rem;
    display: flex;
}

.hero div {
    font-size: 3rem;
    font-weight: bolder;
    color: #F9FAF8;

    margin-right: 2rem;
    flex: 1;

    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 1rem;
}

.hero h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.hero p {
    font-size: 1.5rem;
    color: #E5E7EB;
}

.hero img {
    margin-right: 10px;
    flex: 1;
    min-width: 50%;
    max-width: 70%;
    height: auto;

    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
}

/* section 2 */

.profiles-container {
    background-color: #F9FAF8; 
    font-size: 2.5rem;
    font-weight: bolder;
    color: #1F2937;

    padding: 50px;
    text-align: center;
}

.profiles-container h1 {
    margin-top: 0;
}

.profiles {
    font-weight: lighter;
    font-size: 1.5rem;

    display: flex;
}

.profile {
    max-width: 25rem;
    margin: 0 3rem;
    margin-right: 0;
}

.profile:last-child {
    margin-right: 3rem;
}

.profile img {
    border: 0.4rem solid #1F2937;
    border-radius: 2rem;
}

.profile p {
    margin-top: 0.7rem;
}

/* article */

article {
    background-color: #E5E7EB;
    font-size: 3rem;
    font-weight: light;
    font-style: italic;
    color: #1F2937
}

.recruit,
button {
    background-color: #3882F6;
}

img {
    width: 200px;
}


