@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*, *::before, *::after { box-sizing: inherit; }

html {
	box-sizing: border-box;
}

* {
    font-family: 'Roboto', sans-serif;

    --darkbrown: #28251f;
    --brown: #5d504e;
    --orange: #bd6124;
    --darkgreen: #464b2a;
    --lightgrey: #d9dbdd;
    --offwhite: #F9FAF8;
}

body {
    background-color: var(--darkgreen);

    margin: 0;
    padding: 2rem 2.5rem;
}

.notice {
    color: var(--offwhite);
    background-color: var(--darkbrown);

    padding: 4rem;
    max-width: min(80rem, 80vw);
    margin: 0 auto;

    text-align: center;
}

.notice > * {
    margin: 0;
    margin-bottom: 0.5rem;
}

.notice > *:last-child {
    margin-bottom: 0;
}

form {
    color: var(--darkbrown);
    background-color: var(--offwhite);

    max-width: min(80rem, 80vw);
    margin: 0 auto;
    padding: 2rem clamp(4rem, 20vw ,18rem);
}

fieldset {
    border: solid 3px var(--darkbrown);
    border-radius: 15px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 2rem;
    
    gap: 5px;
}

fieldset.choose > div,
fieldset.choose > select {
    flex: 1 1 13rem;
}

.submit {
    background-color: var(--orange);
    color: var(--offwhite);
    border: solid 3px var(--orange);

    padding: 0.7rem;
    margin: 0 auto;
    display: block;

    border: solid 3px var(--orange);
    border-radius: 20px;
}

.submit:hover {
    background-color: var(--offwhite);
    color: var(--darkbrown);
    border: solid 3px var(--orange)
}

.choose {
    margin-bottom: 1rem;
}

/* Validations */

label > span,
legend > span {
    color: red;
}